/* */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #FFFBF0;
}

.manrope-font{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.display_hide{
  display: none;
}

.container{
  max-width: 1440px;
  margin: auto;
}

.side_padding{
  padding-left: -48px;
  padding-right: -48px;
}

.overflow{
  overflow: hidden;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


.header_banner{
  background-image: url("./../assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cross{
  display: none;
}

.about_us_small_screen{
  display: none;
}

.hamburger {
  display: none;
}

/* BOD section */
.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 80px;
  height: 4px;
  border-radius: 12px;
  background: linear-gradient(
    to right,
    #016D42 40%, /* filled portion */
    #01784890 50% /* unfilled portion */
  );
}



/* economic_impact */
.economic_impact{
    /* margin-top: 250px; */
    background-color: #FFFFFF;
    padding: 40px 0px;
    display: flex;
    gap: 20px;
}

.economic_impact_desc{
    margin-top: 50px;
    font-weight: 700;
    font-style: 40px;
    line-height: 54px;
}
.economic_impact_section{
    margin-left: 20px;
    width: 710px;
}

.bridge{
    width: 588px;
    height: 688px;
}

ul {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
}


.navigation_hr{
    border: none;
    height: 1px;
    background: linear-gradient(to right, #616060, #616060);
    margin-top: -30px;
    margin-bottom: 10px;
}

.economic_impact_paragraph, .economic_impact_paragraph_second{
    margin-top: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.economic_impact_paragraph_second{
    margin-top: 10px;
}

.more_btn{
    margin-top: 32px;
    margin-left: -10px;
}

marquee{
    background-color: #FFFFFF;
}
.impact_factors{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.circle{
    width: 9px;
    height: 9px;
    background:  #017848;
    border-radius: 100%;
    margin-top: 20.5px;
    margin-bottom: 20.5px;
}

.DI, .HC, .FI{
    font-weight: 500;
    font-size: 41px;
    line-height: 100%;
    color: transparent; /* No fill color */
    -webkit-text-stroke: 1px #017848; /* Outline thickness and color */
    white-space: nowrap;
    margin-top: 20.5px;
    margin-bottom: 20.5px;
}

.edu, .RE{
    font-weight: 500;
    font-size: 41px;
    line-height: 100%;
    color: #017848;
    white-space: nowrap;
    margin-top: 20.5px;
    margin-bottom: 20.5px;
}


/* feedback section */
.fd_section{
    margin-top: 88px;
}
.fd_title{
    text-align: center;
    margin-left: 420px;
    margin-right: 420px;
} 


.fd_desc{
    background-color: #FFFFFF;
    border: 1px solid #707170;
    border-radius: 16px;
    height: 445px;
    margin-top: 48px;
    margin-left: 201px;
    margin-right: 201px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.uk_president{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.fd_paragraph{
    text-align: center;
    padding-left: 56px;
    padding-right: 56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.uk{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



/* ! Spacing problem problem - 7 */
/* mobilepp_section */
.mobilepp_section {
    background-image: url("./../assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}



/* footer */


.pages, .account, .SM {
    list-style: none;
    display: block;
}

.footer_links h5{
    /* margin-bottom: 32px; */
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.footer_links ul>li{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.footer_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

footer ul>li{
    margin-bottom: 16px;
}

.SM_links{
    margin-top: 40px;
}

.hr_footer{
    margin-top: 20px;
    border: none;
    width: 194px;
    height: 1px;
    background: linear-gradient(to right, #014228, #014228);
}


.footer_bottom{
    background-color: #014228;
    color: #FFFFFF;
}

.footer_bottom_text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_bottom_text h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 17px;
}

.footer_bottom_hr{
    margin-top: 2px;
    border: none; 
    width: 1px;
    display: block;
    height: 30px;
    background: linear-gradient(to right, #015533, #015533);
}

@media (max-width: 768px) {
  .header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
  }

  .BFB_logo{
    width: 44px;
    height: 44px;
  }

  .hamburger_icon{
    width: 24px;
    height: 19px;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    margin-top: -10px;
  }

  .menu_btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    top: 60px;
    left: 20px;
    right: 5px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 999;
  }

  .about_us_small_screen{
    display: block;
  }
  .about_us{
    display: none;
  }

  .menu_btn.active {
    display: flex;
  }

  .cross.active{
    display: flx;
  }

  .menu_list {
    flex-direction: column;
    gap: 16px;
  }

  .auth_btn {
    width: 100%;
    margin-top: -20px;
  }
}